@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/login_bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
/*    background: #111;    */
}

.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 20px 30px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    text-transform: capitalize;
}

.container .login .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

/*.container .register .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}*/

/*.container h3{
	margin-left: 10px;
}*/

.container .login .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 10px;
    font-size: 1rem;
    border-radius: 10px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login .input-group input:focus, .container .login .input-group input:valid {
    border-color: #111;
}

.container .login .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #111;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login .input-group .btn:hover {
    background: #192841;
}

.register-text {
    color: #111;
    font-weight: 600;
    margin-bottom: 15px;
}

.register-text a {
    text-decoration: none;
    color: #1E2F97;
}

.container-logout {
    width: 500px;
    min-height: 200px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}

.container-logout .login .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #111;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}

.container-logout .login .input-group .btn:hover {
    background: #1E2F97;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}