<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Booking Form</title>
	<link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
	<link rel="stylesheet" href="../static/css/style_reservasi.css">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900" rel="stylesheet">
</head>
<body>

	<div class="wrapper">


		<div class="container">
			<div class="container-time">
				<h2 class="heading">Waktu Buka</h2>
				<h3 class="heading-days">Senin-Jumat</h3>
				<p>08.00 - 20.00</p>

				<h3 class="heading-days">Sabtu</h3>
				<p>10.00 - 22.00</p>

				<h3 class="heading-days">Minggu</h3>
				<p>Tutup</p>
				<hr>

				<h4 class="heading-days">Google Maps </h4>
				<a href="https://goo.gl/maps/XZjLr1HyZNFm3MAG9">MIE AYAM BANG WILLI</a>
				<hr>

				<h4 class="heading-phone">Call Us: (+62)857-7739-9960</h4>
			</div>

			<div class="container-form">
				<form action="/userReservasi" method="post" enctype="multipart/form-data">
					<h2 class="heading heading-yellow">Reservation Online</h2>

					<div class="form-field">
						<p>Nama</p>
						<input type="text" name="nama" placeholder="Nama Lengkap">
					</div>
					<div class="form-field">
						<p>Email</p>
						<input type="email" name="email" placeholder="Alamat Email">
					</div>
					<div class="form-field">
						<p>Telepon </p>
						<input type="Telepon" name="telepon" placeholder="Nomor Telepon">
					</div>
					<div class="form-field">
						<p>Tanggal Datang</p>
						<input type="date" name="tanggal">
					</div>
					<div class="form-field">
						<p>Jam Datang</p>
						<input type="time" name="jam">
					</div>
					<div class="form-field">
						<p>Jumlah Tamu</p>
						<select class="form-control col-md-2" name="jml_tamu" id="" type="text">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
					<div class="form-field">
						<p>Pilih Meja</p>
						<select class="form-control col-md-2" name="meja" id="" type="text">
							{%for datameja in data_meja%}
							<option value="{{datameja[0]}},{{datameja[1]}}">{{datameja[0]}} - {{datameja[1]}}</option>
							{%endfor%}
						</select>
					</div>
					<div class="form-group">
						<label for="">Foto Menu</label>
						<!-- Opsi File Picker 1 -->
						<!-- <input type="file" class="form-control-file" id="exampleFormControlFile1"> -->
			
						<!-- Opsi File Picker 2 -->
						<div class="custom-file" enctype="multipart/form-data">
						  <input type="file" name="files" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
						  <label class="custom-file-label col-sm-3" for="inputGroupFile03">Choose file</label>
						</div>
					</div>
					<div class="form-field">
						<p>Permintaan Khusus </p>
						<input type="Telepon" placeholder="(Optional)" name="layanan">
					</div>
					

					<!-- HIDDEN, USER OTOMATIS PENDING -->
					<div class="form-group" hidden>            
						<label for="">Status</label>
						<!-- Opsi menggunakan select -->
						<select class="form-control col-md-2" name="status" id="" type="text">
							<option selected value="Pending">Pending</option>
						</select>
						<!-- Opsi menggunakan radio button -->
						<!-- <div class="form-check ml-3">
						  <input class="form-check-input" type="radio" name="status" id="1" value="Pending">
						  <label class="form-check-label" for="">
							Pending
						  </label>
						</div>          
						<div class="form-check ml-3">
						  <input class="form-check-input" type="radio" name="status" id="2" value="Completed">
						  <label class="form-check-label" for="">
							Completed
						</label> -->
					</div>
				</div>
				<button class="btn submit">Booking Now!</button>
			</form>
		</div>
	</div>
</div>	

</body>
</html>